.flex
{
  display: flex;
  flex-wrap: wrap;
}

.shopping-card{
  justify-content: space-between;
  background-color: #61dafb;
  padding: 20px 600px;
  margin-bottom: 40rem;
}
.product-item{
  padding: 20px;
}